body { 
	padding-bottom: 70px; 
}

@font-face {
    font-family: 'Avenir'; /*a name to be used later*/
    src: url('AvenirLTStd-Book.otf'); /*URL to font*/
}

h1, h2{
	font-family: 'Avenir'!important;
	font-weight: bold;
}

h2{
	margin-top: 5px!important;
	margin-bottom: 35px!important;
}

.row{
	position: relative;
}
.icon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.person {
	margin-left: auto;
	margin-right: auto;
    display: block;
    height: 150px;
    width: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px; 
    padding: 10px;
}

.navbar{
	background-color: #4F81BD!important;
}

.container{
	margin-top: 40px;
}

.home-button{
	padding-top: 10px;
	font-size: 30px;
	color:white;
	width: 33px;

}

.home-button:hover{
	color: #C2C2C2;
	cursor: pointer;
}

.personIcon{
	margin-top: 15px;
}

#pieChartSVG{
	margin-top: -50px;
}

.progress{
	width: 70%;
}
.progress-bar{
	background-color: #BD0004 !important;
}
